.containner {
  width: 990px;
  height: 920px;
  margin: 0 auto; }
  .containner header {
    height: 120px;
    width: 990px;
    padding-top: 60px; }
    .containner header .head_l {
      float: left; }
      .containner header .head_l li {
        float: left; }
        .containner header .head_l li a {
          display: block;
          background: url(../img/loginlogo.png);
          color: black;
          height: 60px;
          width: 130px; }
        .containner header .head_l li p {
          line-height: 60px;
          margin-left: 10px;
          padding-left: 5px;
          font-size: 15px;
          color: #5c5a5a;
          border-left: solid 1px #cccccc; }
    .containner header .head_r {
      padding-top: 26px;
      float: right; }
      .containner header .head_r li {
        float: left; }
        .containner header .head_r li p {
          font-size: 15px;
          color: black;
          font-weight: bolder;
          line-height: 15px; }
        .containner header .head_r li a {
          color: red;
          font-size: 15px;
          line-height: 15px; }
  .containner main {
    height: 770px;
    border: solid 1px #cccccc;
    margin-bottom: 40px; }
    .containner main .main_t {
      width: 990px;
      line-height: 60px;
      background: #999999;
      color: #cccccc;
      text-align: center;
      font-size: 25px; }
    .containner main .main_l {
      float: left;
      height: 685px;
      width: 615px;
      padding-top: 15px;
      padding-left: 85px; }
      .containner main .main_l li {
        margin-top: 15px;
        width: 500px;
        padding-left: 18px; }
        .containner main .main_l li div {
          font-size: 18px;
          line-height: 40px; }
          .containner main .main_l li div input {
            border: 1px solid #999999;
            height: 38px;
            width: 285px;
            padding-left: 5px;
            line-height: 38px;
            font-size: 14px;
            color: #999999; }
        .containner main .main_l li span {
          padding-left: 89px;
          line-height: 30px;
          color: red; }
      .containner main .main_l #reg {
        margin-left: 103px;
        margin-top: 10px;
        display: block;
        height: 42px;
        width: 290px;
        background: #DC2E2E;
        text-align: center;
        line-height: 42px;
        color: white; }
      .containner main .main_l img {
        float: right; }
    .containner main .main_l li:nth-of-type(1) {
      height: 46px;
      width: 502px;
      border-bottom: 1px solid #999999; }
      .containner main .main_l li:nth-of-type(1) p {
        font-weight: bolder;
        width: 255px;
        font-size: 19px;
        height: 43px;
        line-height: 42px;
        text-align: center;
        color: orangered;
        border-top: 3px solid orangered;
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
        border-bottom: 1px solid white; }
  .containner footer {
    border-top: solid 1px #cccccc;
    padding-top: 20px;
    height: 50px; }
    .containner footer ul {
      float: left; }
      .containner footer ul li {
        float: left; }
        .containner footer ul li a {
          display: block;
          border-right: 1px solid #5c5a5a;
          color: #5c5a5a;
          padding-right: 10px;
          font-size: 14px;
          padding-left: 10px; }
    .containner footer p {
      float: right;
      color: #5c5a5a;
      padding-right: 10px;
      font-size: 14px; }

/*# sourceMappingURL=reg.css.map */
