
header{
#h_top{
    background: #F5F5F5;
    height: 30px;
    
    #h_top_l{
        float: left;
        li{
            float: left;
            a,span{
                float: left;
                display: block;
                font-size: 12px;
                line-height: 30px;
                color: black
            }
    
        
        }
        li:hover a{
            color: red
        }
    }
    #h_top_l li:nth-last-of-type(2){
        margin: 0 12px;
    }
    #h_top_l li:nth-last-of-type(2) a{
       color: blue
    }
    #h_top_r{
        float:right;
        li{
            float: left;
            margin: 0 12px;
            a{
                color: black;
                line-height: 30px;
                display: block;
                font-size: 12px;
                margin: 0 5px;
            }
        }
        li:hover a{
            color: red
        }

    }
    #h_top_r li:nth-of-type(2){
      position: relative;
          div{
              background: white;
              position: absolute;
              display: none;
              
          }
    }
   #h_top_r1:hover{
       background:white;
       #h_top_r1_1{
        display: block;
        a{
          color: black
        }
       }
   }
   #h_top_r li:nth-of-type(5){
    position: relative;
    div{    
        position: absolute;
            display: none;
    }     
  }
  #h_top_r2:hover{
    background:white;
    #h_top_r2_2{
     display: block;
    
    }
}
}
#h_mid{
    .container{
        height: 120px;
        padding-top: 30px;
        .h_min_l{
            float: left;
            a{
                display: block;
                height: 50px;
                width: 300px;  
                background: url(../img/zoltuan.png);
            }
        }
        .h_min_m{
            float: left; 
            margin-top:5px;
            #seach_vl{
                width: 465px;
                height: 35px;
                border: 2px solid red;
                line-height: 35px;
                font-size: 18px;
                padding-left: 5px;
               
            }
            #seach{
                height: 38px;
                width: 78px;
                line-height: 35px;
                background: red;
                color: white;
                margin-left: -6px;
            }
            ul{
                li{
                    float: left;
                    margin: 5px 5px 0 5px;
                    a{
                        color: #999999;
                        font-size: 14px;

                    }
                }
                li:hover a{
                   color: red 
                }
            }
            div{
                margin-top:10px;
                font-size: 14px;
                span{
                    display:inline-block;
                    background: red;
                    color: white;
                    height: 20px;
                    width: 40px;;
                    line-height: 20px;
                    margin-right: 5px;
                    text-align: center;
                    // font-size: 14px
                }
            }
        }
       .h_min_r{
           float: left;
           margin: 13px 0 0 30px;
           li{
               float: left;
               margin: 0 10px;
               a{
                   display: block;
                   color: black;
                   font-size:14px;
                   line-height: 25px;
               }
           }
           li:hover a{
                color: red
           }
       }
    }
}
#h_b{
   .container{
       border-bottom: 3px solid #EC3639;
       div{
           display: inline-block;
           height: 38px;
           width: 160px;
           text-align: center;
           background: #EC3639;
           line-height: 38px;
           color:white;
           position: relative;
           ul{
               position: absolute;
               display: none;
               li{
                   a{
                       display: block;
                       width: 160px;
                       height:45px;
                       text-align: center;
                       line-height: 45px;
                       background: #3b3838;
                       color: white;
                   }
               }
              li:hover a{
                  background: white;
                  color: #3b3838;
              }
           }
           
       }
       div:hover ul{
           display: block;
       }
       a{
        display: inline-block;
        font-size:20px;
        line-height: 38px;
        text-align: center;
        width: 130px;
        color: red;;
       }
   }
    
}

}
